# Model Building Requirements
numpy==1.16.4
pandas==1.0.3
stockstats
scikit-learn==0.21.1
gym==0.18.0
stable-baselines3
torch
joblib==0.15.1
#Pipeline
apache-airflow==2.0.1
# hyperparameter tuning
optuna
# plot
matplotlib==3.2.1
# logger
loguru==0.5.3
# testing requirements
pytest>=5.3.2,<6.0.0
# packaging
setuptools>=41.4.0,<42.0.0
wheel>=0.33.6,<0.34.0
yfinance
ccxt
pyfolio

# streamlit
streamlit
wandb
finta==1.3
# streamlit_agraph
loguru==0.5.3
